<h3 ng-if="!$ctrl.name">Greeter</h3>
<h3>
    <greeter ng-if="$ctrl.name"
             name="$ctrl.name">
    </greeter>
</h3>
<div class="app__greeter">
    <input type="text"
           class="form-control"
           placeholder="Please enter your name"
           ng-model="$ctrl.name">
</div>

<hr>

<h3>Palindrome Checker</h3>
<div class="app__palindrome-check">
    <palindrome-checker></palindrome-checker>
</div>

<hr>

<h3>Asynchronous Palindrome Checker</h3>
<div class="app__palindrome-check">
    <async-palindrome-checker></async-palindrome-checker>
</div>

<hr>

<h3>Palindrome Http Checker</h3>
<div class="app__palindrome-check">
    <palindrome-http-checker></palindrome-http-checker>
</div>

<hr>

<h3>Palindrome List Checker</h3>
<div class="app__palindrome-check">
    <palindrome-list-checker></palindrome-list-checker>
</div>

<hr>

<h3 click-counter
    on-click-counter-changed="$ctrl.setCounter(counter)">
    Click Counter: {{$ctrl.counter}} times
</h3>

<hr>

<h3>Lifecycle Hooks</h3>
<button class="btn" ng-click="$ctrl.showLifecycleComponent = true" ng-disabled="$ctrl.showLifecycleComponent">
    Create Component
</button>

<button class="btn" ng-click="$ctrl.showLifecycleComponent = false" ng-disabled="!$ctrl.showLifecycleComponent">
    Destroy Component
</button>

<lifecycle ng-if="$ctrl.showLifecycleComponent" some-value="$ctrl.someValueForLifecycleComponent"></lifecycle>

<input ng-if="$ctrl.showLifecycleComponent"
       class="form-control"
       type="text"
       placeholder="Enter a value and watch $onChanges / $doCheck"
       ng-model="$ctrl.someValueForLifecycleComponent">
