<div class="form-group palindrome-checker__input">
    <input type="text"
           class="form-control palindrome-checker__input-name"
           ng-disabled="$ctrl.loading"
           ng-model="$ctrl.name">

    <button class="btn btn-primary"
            type="button"
            ng-click="$ctrl.check($ctrl.name)"
            ng-disabled="$ctrl.loading">
        Check Palindrome
    </button>
</div>

<div class="palindrome-checker__output">
    <textarea class="form-control"
              placeholder="No check triggered yet..."
              readonly>{{!$ctrl.loading ? $ctrl.lastCheck : 'Checking input "' + $ctrl.name + '", please stand by...'}}</textarea>
</div>
